/*==================== GENERAL ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

/*========= CUSTOM COLORS PALETTES =========*/
--custom01ColorPalette:  #000000;

--custom02ColorPalette:  #22B103;

--custom03ColorPalette:  #fafaab;

--custom04ColorPalette:  hsl(300, 100%, 50%);

--defaultColorPalette:  #0000ff;

--color-tester: #0d3bcf;

/*========= COLOR SET =========*/
  --down-bg-color: var(--defaultColorPalette);
  --bg-cards-color:  var(--defaultColorPalette);

  --primary-color: #33cbe6;
  --headline: #00d9ff;

  --paragraph: hsl(0, 250%, 100%);

  --nav-height: 7.2rem;
  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background: var(--down-bg-color);
}

.wrapper {
  width: 38rem;
  margin-inline: auto;
  padding-inline: 1.6rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.petPNG {
  z-index: 100;
  margin-bottom: -2.6rem;
}

section {
  padding-block: 3rem;
  background: var(--down-bg-color);
}

img .catAndDogPNG {
  padding: 0rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--paragraph);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;  
  line-height: 150%;  
  color: var(--paragraph);
}

section .button {
  background: var(--down-bg-color);
  border: 3px solid var(--primary-color);
  box-shadow: 0px 0px 2rem var(--primary-color); 
  border-radius: 4rem;
  margin-bottom: 6rem;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  letter-spacing: 1px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
 }

.button:hover {
  background: var(--primary-color);
  box-shadow: 0px 0px 2rem var(--paragraph); 
  color: #fff;
  /*transition: .3s ease-in-out;
  transform: scale(1.1);*/
}

/*==================== NAVIGATION ====================*/
nav {
  display: flex;
  height: 9rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-top: -1rem;
}

nav .wrapper {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.scrollDefaultTheme {
  background: var(--primary-color);
  transition: .3s ease-in-out;
}

nav.scrollDefaultTheme button path {
  stroke: var(--paragraph);
  transition: .3s ease-in-out;
}


nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*==================== MENU-EXPANDED ====================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(-10%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  padding-top: var(--nav-height);
  transition: transform 200ms ease-out;
  transform: scale(1);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--paragraph);
  text-decoration: none;
}

.menu ul li a:hover {
  color: rgb(255, 251, 0);
  transition: .3s ease-in;
}

.menu .button {
  background: var(--down-bg-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
  color: var(--paragraph);
  border: 3px solid var(--down-bg-color);
  transition: all 0.3s ease 0s;
}

.menu .button:hover {
  transition: .4s ease-in-out;
  box-shadow: 0px 2.5px 2rem var(--paragraph);
  transform: scale(1.1);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  margin-bottom: 2rem;
}

.social-links li svg:hover {
  transition: .3s ease-in-out;
  transform: scale(1.5);
}

#services .card circle {
  fill: var(--primary-color);
}

#services .card path {
  stroke: var(--down-bg-color);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

.logoSVG{
  margin-left: 1rem;
}

body.menu-expanded button path {
  stroke: var(--paragraph);
}

/*==================== HOME ====================*/
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  min-width: 40rem;
  height: calc(90rem + var(--nav-height));
  background: var(--up-bg-color);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 6rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  background: var(--down-bg-color); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  border-radius: .7rem;
  border: 3px solid var(--primary-color);
  box-shadow: 0px 0px 2rem var(--primary-color);
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: bold;
}

/*==================== SERVICES ====================*/
#services {
    width: 40rem;
    margin-inline: auto;
}

#services header h2 {
  margin-bottom: 6rem;
}

#services .teste h2 {
  margin-bottom: 2rem;
}

#services .teste h4 {
  margin-top: 3rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  display: inline-block;
  overflow: hidden;
  padding: 2.4rem;
  text-align: left;
  background: var(--down-bg-color);
  border: 3px solid var(--primary-color);
  box-shadow: 0px 0px 2rem var(--primary-color);
  border-radius: .7rem;
}

#services .card h3 {
  margin-block: 1.6rem;
  color: var(--primary-color);
}

.produsctsIframeBorderCover {
  display: inline-block;
  width: 29rem;
  height: 47.1rem;
  overflow: hidden;
}

.botIframeBorderCover {
  display: inline-block;
  width: 28rem;
  height: 40rem;
  overflow: hidden;
}

div.embedded {
  position: relative;
  display: flex;
  width: 110%;
  margin-top: -3.5rem;
  margin-left: -.2rem;
  }

header .space {
  margin-top: 3rem;
}

.carde {
  display: inline-block;
  overflow: hidden;
  padding: 0rem;
  margin-top: -3rem;
  height: 39.9rem;
  border-radius: .6rem;
  border: 0px solid #00d9ff;
  text-align: left;
  box-shadow: 0px 0px 2rem #00d9ff;
  }

span {
  color: var(--primary-color);
  font-weight: bold;
  text-transform:uppercase;
}

/*==================== ABOUT ====================*/
#about {
  text-align: left;
  background: var(--down-bg-color);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
}

/*==================== CONTACTS ====================*/
#contact {
  text-align: left;
  margin-bottom: -5.8rem;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--paragraph);
}

#contact .button {
  background: var(--down-bg-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
  color: #fff;
  border: 3px solid var(--primary-color);
  margin-left: 0rem;
  transition: all .3s ease-in-out;
}

#contact .button:hover {
  background: var(--primary-color);
  color: rgb(255, 238, 0);
  transition: .3s;
  transform: scale(1.1);
}

#contact .content svg path {
  stroke: #fff;
}

/*==================== FOOTER ====================*/
footer {
  background: var(--primary-color);
  line-height: 2rem;
  width: 100%;
  min-width: 400px;
  height: 16.3rem;
  padding-top: .4rem;
}

footer p {
  margin-bottom: 1rem;
  color: var(--paragraph);
}

#backToTopButton {
  position: fixed;
  right: 5rem;
  bottom: 14rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 1s;
}

#backToTopButton svg circle {
  fill: #8beeff;
}

#backToTopButton svg path {
  stroke: #0004ff;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0);
}

/*==================== COLOR CONTROL ====================*/
  div.colorControll {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20rem;
    margin-inline: auto;
    gap: 4rem;
    margin-bottom: -.5rem;
  }

  div #defaultColorPalette {
    min-width: 2rem;
    min-height: 2rem;
    background: var(--defaultColorPalette);
    cursor: pointer;
    border-radius: 1rem;
    border: 2.3px solid white;
  }

  div #custom01ColorPalette {
    min-width: 2rem;
    min-height: 2rem;
    background: var(--custom01ColorPalette);
    cursor: pointer;
    border-radius: 1rem;
    border: 2.3px solid white;
  }

  div #custom02ColorPalette {
    min-width: 2rem;
    min-height: 2rem;
    background: var(--custom02ColorPalette);
    cursor: pointer;
    border-radius: 1rem;
    border: 2.3px solid white;
  }

  div #custom04ColorPalette {
    min-width: 2rem;
    min-height: 2rem;
    background: var(--custom04ColorPalette);
    cursor: pointer;
    border-radius: 1rem;
    border: 2.3px solid white;
  }
